<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Welcome to Homepage</h1>
        <a href="https://www.google.com/">Google</a>
        <a href="https://www.facebook.com/">Facebook</a>
        <a href="https://www.instagram.com/">Instagram</a>
        <a href="https://www.twitter.com/">Twitter</a>
        <a href="https://www.youtube.com/">Youtube</a><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas placeat atque possimus, quos ullam quisquam vitae qui aliquid, quasi error quod velit doloremque. Minima nam molestiae esse voluptas. Tempore, perferendis!
        Ut dolores nemo quo ad maiores vero, hic doloremque quod magni, dolorem ducimus minima quibusdam. Ratione veritatis facere nisi aperiam sed eum possimus amet, animi ut esse, dignissimos nihil explicabo.
        Exercitationem aut, distinctio fugit magnam accusantium voluptatem molestias. Soluta exercitationem sapiente dolore id expedita est totam minima mollitia eligendi repudiandae! Minima totam, vitae deserunt perspiciatis eius modi harum accusamus nostrum. <br>
        <a href="https://www.google.com/">Google</a>
        <a href="https://www.facebook.com/">Facebook</a>
        <a href="https://www.instagram.com/">Instagram</a>
        <a href="https://www.twitter.com/">Twitter</a>
        <a href="https://www.youtube.com/">Youtube</a>
        <p>This is Homepage</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dignissimos nemo reiciendis, fugit molestias obcaecati. Iure nisi sed doloribus aliquam vel soluta sapiente velit, consequatur quo ad. Tempora, eligendi. Earum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, a. Ratione est vitae consequatur nam dolor, vero soluta voluptatum facilis et a quis rem ipsam. Reprehenderit dolores asperiores blanditiis corporis.</p>
        <a href="https://www.google.com/">Google</a>
        <a href="https://www.facebook.com/">Facebook</a>
        <a href="https://www.instagram.com/">Instagram</a>
        <a href="https://www.twitter.com/">Twitter</a>
        <a href="https://www.youtube.com/">Youtube</a>
        <p>This is Homepage</p>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita officiis modi corporis. Dignissimos veniam, et dolores qui eius vitae rerum doloribus hic cum rem earum dolore. Maxime recusandae nihil ratione.</span><span>Nostrum quia dolor neque illum voluptatum. Quibusdam labore vel corporis eaque velit, est, adipisci exercitationem molestiae porro quia omnis repellendus esse nesciunt. Illum in repellendus reprehenderit quod atque dicta ea!</span></p>
        <a href="https://www.google.com/">Google</a>
        <a href="https://www.facebook.com/">Facebook</a>
        <a href="https://www.instagram.com/">Instagram</a>
        <a href="https://www.twitter.com/">Twitter</a>
        <a href="https://www.youtube.com/">Youtube</a>
        <p>This is Homepage</p>
        <p><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus molestias doloremque voluptatum dolorem ipsa explicabo nostrum, ab iure nobis sequi pariatur dolores sit accusantium possimus dolore modi, maiores rerum quaerat?</span><span>Incidunt consectetur ipsum, illum excepturi, numquam voluptatibus ea id in fugiat amet quod explicabo itaque omnis suscipit sit doloremque unde necessitatibus, voluptates sapiente architecto dolorum delectus ipsa? Omnis, expedita ducimus.</span></p>
        <a href="https://www.google.com/">Google</a>
        <a href="https://www.facebook.com/">Facebook</a>
        <a href="https://www.instagram.com/">Instagram</a>
        <a href="https://www.twitter.com/">Twitter</a>
        <a href="https://www.youtube.com/">Youtube</a> 
    </center>
</body>
</html>